doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!
    p Sugar plum chocolate cheesecake croissant candy. Cake I love I love I lovedonut. I love chocolate cake pastry I love sesame snaps tart pudding I love.Powder chocolate pudding candy I love wafer I love. Cupcake I love tiramisucheesecake. Ice cream bonbon I love I love. Donut candy chocolate bar cakemarshmallow sesame snaps chocolate cake. Lollipop fruitcake candy macaroon candy.